<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for @blog_post, url: @form_target do |f| %>
        <br>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        <br>
        <%= f.label :desc %>
        <%= f.text_area :desc, class: 'form-control' %>
        <br>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', style: 'height:150px' %>
        <br>
        <%= label_tag 'tags' %>
        <%= text_field_tag 'tags', @tags, id: 'tags', type: 'text', class: 'form-control' %>
        <br>
        <%= f.submit class: 'form-control btn btn-primary' %>
    <% end %>
  </div>
</div>