<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="center"><%= @blog_post.nil? || @blog_post.id.nil? ? 'Create new blog post' : 'Edit blog post' %></h4>
  </div>
  <div class="panel-body">
    <%= form_for @blog_post, url: @form_target do |f| %>
        <br>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        <br>
        <%= f.label :desc %>
        <%= f.text_area :desc, class: 'form-control' %>
        <br>
        <%= f.label :content %>
        <div class="row" id="html-editor" style="height: 550px">
          <div class="col-md-6">
            <%= f.text_area :content, class: 'form-control', style: 'height:550px', onkeyup: 'updateContent(this.value)' %>
            <script type="text/javascript" charset="utf-8">
                var updateContent = function (htmlContent) {
                    var contentDiv = document.getElementById('html-content');
                    contentDiv.innerHTML = htmlContent;
                }
            </script>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div id="html-content" class="content" style="overflow: auto; height: 550px">
              </div>
            </div>
          </div>
        </div>
        <br>
        <%= label_tag 'tags' %>
        <%= text_field_tag 'tags', @tags, id: 'tags', type: 'text', class: 'form-control' %>
        <br>
        <%= f.submit class: 'form-control btn btn-primary' %>
    <% end %>
  </div>
</div>