<%= render 'general' %>

<% unless @blog_post.nil? %>
    <div class="row">
      <div class="col-lg-8">

        <h1><%= @blog_post.title %></h1>

        <p class="lead">
          by <a href="#">Karthik M A M</a>
        </p>

        <hr>

        <p>
          <span class="glyphicon glyphicon-time"></span> <%= "Created #{time_ago_in_words(@blog_post.created_at)} ago" %>
        </p>

        <hr>

        <%= @blog_post.content.html_safe %>

      </div>

      <%= render 'tags' %>
    </div>
<% end %>