<%= render 'general' %>

<h2>
  <%= 'Blogs with tag' %> <b><%= @tag %></b>
</h2>

<%= will_paginate %>
<ol class="blog_posts">
  <% @blog_posts.each do |blog_post| %>
      <li><%= render blog_post.blog_post %></li>
  <% end %>
</ol>
<%= will_paginate %>