<%= render 'shared/errors' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="center"><%= heading %></h3>
  </div>
  <div class="panel-body">
    <%= form_for item, url: './' do |f| %>
        <%- item.attribute_names[1..-5].each do |attr| %>
            <br>
            <%= f.label attr.to_sym %>
            <%= f.text_field attr.to_sym, class: 'form-control' %>
        <%- end %>
        <br>
        <%= f.label :desc %>
        <%= f.text_area :desc, class: 'form-control' %>
        <br>
        <%= f.label :content %>
        <div class="row html-field">
          <div class="col-md-6">
            <%= f.text_area :content, class: 'form-control html-editor', onkeyup: 'updateContent()' %>
          </div>

          <div class="col-md-6">
            <div class="html-content content" onload="updateContent()">

            </div>
            <script type="text/javascript" charset="utf-8">
                var updateContent = function () {
                    var contentDiv = document.querySelector('.html-content');
                    contentDiv.innerHTML = document.querySelector(".html-editor").value;
                };
                updateContent();
            </script>
          </div>
        </div>
        <br>
        <%= label_tag 'tags' %>
        <%= text_field_tag 'tags', tags, id: 'tags', type: 'text', class: 'form-control' %>
        <br>
        <%= f.submit class: 'form-control btn btn-primary' %>
    <%- end %>
  </div>
</div>