<%- cache('social') do %>
    <div class="nav-pills">
      <a href="https://github.com/KarthikMAM" target="_blank"><%= image_tag 'github.png', size: '30x30' %></a>
      <a href="https://in.linkedin.com/in/KarthikMAM" target="_blank"><%= image_tag 'linkedin.png', size: '30x30' %></a>
      <a href="https://quora.com/profile/Karthik-M-A-M-1" target="_blank"><%= image_tag 'quora.png', size: '30x30' %></a>
      <a href="https://facebook.com/karthik.king.165" target="_blank"><%= image_tag 'facebook.png', size: '30x30' %></a>
      <a href="mailto:karthik_m_a_m@outlook.com" target="_blank"><%= image_tag 'mail.png', size: '30x30' %></a>
      <a href="https://twitter.com/Karthik_M_A_M" target="_blank"><%= image_tag 'twitter.png', size: '30x30' %></a>
      <a href="https://plus.google.com/+KarthikMAM" target="_blank"><%= image_tag 'google.png', size: '30x30' %></a>
    </div>
<%- end %>