<%= render 'general' %>

<% unless @project.nil? %>
    <div class="row">
      <div class="col-md-8">

        <h1><%= @project.name %></h1>

        <p class="lead">
          by <a href="#">Karthik M A M</a>
        </p>

        <hr>

        <p>
          <span class="glyphicon glyphicon-time"></span> <%= @project.created_at %>
        </p>

        <hr>

        <%= @project.content.html_safe %>

      </div>

      <%= render 'links' %>
      <%= render 'tags'  %>
    </div>
<% end %>