<%= render 'general' %>

<% unless @project.nil? %>
    <div class="row">
      <div class="col-lg-8">

        <h1><%= @project.name %></h1>

        <p class="lead">
          by <a href="#">Karthik M A M</a>
        </p>

        <hr>

        <p>
          <span class="glyphicon glyphicon-time"></span> <%= "Created #{time_ago_in_words(@project.created_at)} ago" %>
        </p>
        <hr>

        <div class="content">
          <h4>Description</h4>
          <p><%= @project.desc %></p>

          <%= @project.content.html_safe %>
        </div>

      </div>

      <%= render 'links' %>
      <%= render 'tags' %>
    </div>
<% end %>